$button-height: 22px;

h1 {
    font-size: 2rem;
    color: #555555;
    text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
}

.btn {
    font-size: 0.9rem;
    padding-top: 0;
    padding-bottom: 2px;
}

.button-delete {
    height: $button-height;
    line-height: $button-height;
}

.btn-danger {
    background-color: lightsalmon;
}

.badge {
    font-size: 11px;
    margin-right: 20px;
}

.badge-primary {
    background-color: lightseagreen;
}

li {
    height: 50px;
    padding-top: 3px;
    padding-bottom: 3px;
}